body {
  background-color: rgb(244, 260, 255);
  color:rgb(57, 85, 43);
  margin: 80px;
  font-family: arial;
}


html {
  background-image: url("../images/leaves bg.png");
}

.icon {
  width: 60px;
  height:60px;
}

.iicon {
  width: 70px;
  height: 50px;
}

.iconf {
  width:45px;
  height: 45px;
}

h2 {
  font-family: Broadway;
}

.contact {
  margin: auto;
  text-align: center;
}
