body {
  background-color: rgb(244, 260, 255);
  color:rgb(57, 85, 43);
  margin: 80px;
  font-family: arial;
  padding: 0px;
}


html {
  background-image: url("../images/leaves bg.png");
}

h1 {
  font-family: Broadway;
}

.turtle {
  width:300px;
  height:150px;
}

.whale {
  width:300px;
  height:150px;
  margin-top: 20px;
}

.trees {
  width:300px;
  height:150px;
  margin-top: 20px;
}

.plastic {
  width:300px;
  height:150px;
}
